<!DOCTYPE html>
<html lang="en-us">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="rRXRdXuRyxhAqGEVo5F8V-UjsYgnWI5r4xs0eJpdIks" />
  <meta name="msvalidate.01" content="F0E6D69430CA478D3B0892B030A6FE84" />
  <meta name="yandex-verification" content="a96102ac3feaaecc" />

{% block head_data %}{% endblock %}


<!--
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86757542-1', 'auto');
    ga('send', 'pageview');

  </script> -->
</head>

<body>
<header>
  <div id="topMenuBackground">
    <div id="topMenuContainer">
        |Crypto2go|
        <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/exchanges.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
         | exchanges |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/currencies.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | currencies |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | mining |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | news |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
         | home |
      </div>
    </a>
    </div>
  </div>
  <div id="bannerBackground">
    <div id="banner">
    Crypto2go
    </div>
  </div>
</header>

{% block body_content %}{% endblock %}

<div id="footerBackground">
  <div id="footerContainer">
  I am the footer
</div>
</div>


</body>