<body>
<header>
  <div id="topMenuBackground">
    <div id="topMenuContainer">
        |Crypto2go|
        <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/exchanges.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
         | exchanges |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/currencies.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | currencies |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | mining |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
        | news |
      </div>
      </a>
      <a href="file:///E:/Web%20Projects/crypto2go/atom_docs/home.html" class=topMenuButtonAnchor>
      <div class="topMenuButton">
         | home |
      </div>
    </a>
    </div>
  </div>
  <div id="bannerBackground">
    <div id="banner">
    Crypto2go
    </div>
  </div>
</header>